/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: #E5E5E5;
  color: #333;
  font-family: "Open Sans", "Lucida Grande", "Seoge UI", "Arial", sans-serif;
  font-size:16px;
  line-height: 1.5em;
  position: relative;
  text-rendering: optimizeLegibility;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; zoom: 1; }

a:hover, a:active { outline: 0; }

svg:not(:root) {
    overflow: hidden;
}

a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* - - - - - - - - - - Nav - - - - - - - - - - */

nav {
  width: 100%;
  border-top: 1px solid #2a2a2a;
  background: transparent url(../img/nav-bg.jpg) repeat-x 0 0;
  background-size: 8px 45px;
  height: 45px;
  z-index: 1000;
  position: fixed;
  overflow: hidden;
  width: 100%;
  left:0;
  margin:0;
}

nav h1 {
  display inline;
  margin:0;
  font-size: 16px;
  text-align: left;
  margin: 8px;
}

.top-nav {
  top:0;
}

.bottom-nav {
  bottom: 0;
}
.bottom-nav a {
  font-family: 'Open Sans Light', "Lucida Grande", "Seoge UI", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  width: 49%;
  text-shadow: 0 1px 0 #000;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color .2s linear,-webkit-box-shadow .2s linear;
     -moz-transition: color .2s linear,box-shadow .2s linear;
       -o-transition: color .2s linear,box-shadow .2s linear;
          transition: color .2s linear,box-shadow .2s linear;
  text-align: center;
  color: white;
  display: inline-block;
  position: absolute;
  height:45px;
  line-height: 40px;
}
.bottom-nav a.community:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/community.png) no-repeat center center;
  background-size: 32px;
  vertical-align: -11px;
}

.bottom-nav a.clipboard:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/clipboard.png) no-repeat center center;
  background-size: 32px;
  vertical-align: -11px;
}

.right {
  right: 0;
}

/* - - - - - - - - - - Choose a User - - - - - - - - - - */
.logo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 1em auto 0 auto;
  background: url(../img/logo.png) no-repeat center center transparent;
  background-size: contain;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font:400 normal 24px/24px "Open Sans Light", "Lucida Grande", "Seoge UI", "Arial", sans-serif;
  margin:.75em 0 0.75em 0;
  color: #fff;
}


h2 {
  line-height:1.5em;
  color:#fff;
}

body.who {
  background: #2B9EA6;
  background: -webkit-linear-gradient(center, circle cover, rgba(255,255,255,0) 0%,rgba(0,0,0,.2) 100%);
  background:    -moz-linear-gradient(center, circle cover, rgba(255,255,255,0) 0%,rgba(0,0,0,.2) 100%);
  background:     -ms-linear-gradient(center, circle cover, rgba(255,255,255,0) 0%,rgba(0,0,0,.2) 100%);
  background:      -o-linear-gradient(center, circle cover, rgba(255,255,255,0) 0%,rgba(0,0,0,.2) 100%);
}

.user {
  margin: 1em 4%;
  width: 25%;
  float:left;
  text-align: center;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.user-icon {
  width:60px;
  height:60px;
  margin: 0 auto;
  background: url('http://www.gravatar.com/avatar/2bb8f84e5afc6318fd03de5bf28d1edc.jpg?s=100') cover no-repeat transparent;
  background-size: 60px;
  display:inline-block;
  border: 4px solid #fff;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
}


/* - - - - - - - - - - List View - - - - - - - - - - */

.list {
  margin-top: 50px;
}

.user-list {
  width: 94%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px 3%;
  float:left;
  padding: 0.5em;
  background: #ffffff;
  border-radius: 4px;
  height:74px;
  overflow: hidden;

  -webkit-box-shadow: 0 0 4px #DADADA;
     -moz-box-shadow: 0 0 4px #DADADA;
          box-shadow: 0 0 4px #DADADA;

}

.user-list.active{
  height: 200px;
}

.user-icon.centered {
  position: absolute;
  left: 50%;
  margin-left: -29px;
  width: 50px;
  height: 50px;
  background-size: 50px;
  border-color: white;
  box-shadow: none;
}
.debts, .credits {
  width: 30%;
  margin-top: 18px;
  font-size: 32px;
  letter-spacing: 2px;
  position: absolute;
}
.debts {
  color: #ca4c29;
  text-align: left;
  margin-left: 40px;
  left: 50%;
}
.credits {
  color: #3ea349;
  text-align: right;
  margin-right: 40px;
  right: 50%;
}
